@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #073d44;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    /*overflow: hidden;*/
}

main {
    width: 65%;
    height: 80vh;
    background-color: transparent;
    box-shadow: 0 0 10px aqua;
    margin: 5%;
    border-radius: 3px;
    overflow: hidden;
}

main h1 {
    padding: 1% 0 0 1%;
    text-shadow: 0 0 2px aqua;
}

.learnResult {
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    flex: 1;
    gap: 20px;
}

.sumTime, .sumComplete, .sumQuality {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 7px aqua;
    position: relative;
}

.fa-spinner {
    font-size: 80px;
    text-align: center;
}

.sumQuality p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}
.sumTime p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}
.sumComplete p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}

.todo {
  height: 41vh;  
  padding: 1%;  
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

form input {
    padding: 1%;
    border-radius: 5px;
    border: 1px solid rgba(1, 255, 255, 0.532);
    background: transparent;
    outline: none;
    box-shadow: 0 0 5px rgba(1, 255, 255, 0.532);
    color: rgb(5, 3, 0);
    text-shadow: 0 0 2px rgba(1, 255, 255, 0.532);
    font-size: 18px;
    letter-spacing: 1.5px;
}

form button {
   width: fit-content;
   padding: 1%;
   letter-spacing: 1.3px;
   cursor: pointer;
   color: rgba(0, 255, 255, 0.532);
   background: transparent;
   border-radius: 4px;
   border: none;
   box-shadow: inset 0 0 5px rgba(0, 255, 255, 0.532);
   opacity: 0.5;
   margin-top: 5px;
}

form button:hover {
   opacity: 1;
}

form span {
    position: absolute;
    pointer-events: none;
    top: 10%;
    left: 1%;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

form input:valid ~ span,
form input:focus ~ span {
    color: rgba(0, 255, 255, 0.532);
    opacity: 1;
    font-size: 14px;
    transform: translateX(5px) translateY(-19px);
    transition: 0.5s;
    background-color: #073d44;
    padding: 0 1px 0 1px;
    border-left: 1px rgba(0, 255, 255, 0.532) solid;
    border-right: 1px rgba(0, 255, 255, 0.532) solid;
}

.side-bar {
    width: 35%;
    height: 80vh;
    box-shadow: 0 0 10px aqua;
    margin: 5%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.side-bar h1 {
    padding: 1% 0 0 1%;
    text-shadow: 0 0 2px aqua;
}

.side-bar header {
    text-align: center;
    font-size: 45px;
    opacity: 0.7;
}

.timerBody {
    display: flex;
    justify-content: space-around;
}

.Start, .Stop, .Clear {
    padding: 1%;
    transition: 0.245s ease-in-out;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23vh;
}

.StartTimer:hover, .StopTimer:hover, .ClearTimer:hover {
    background-color: transparent;
    box-shadow: 0 0 5px aqua;
    transition: 0.245s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 0 0 2px aqua;
}

.timer header {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0009);
    line-height: 34px;
    text-shadow: 0 0 2px aqua;
}

.pomodora {
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pomodora header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-top: 10px;
    opacity: 1;
}

.pomodoraBody {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

.pomodora footer {
    display: flex;
    justify-content: space-around;
}


.pomodora footer button {
    padding: 3%;
    font-size: 18px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    transition: 0.24s ease-in-out;
}

.pomodora footer button:hover {
    box-shadow: 0 0 5px aqua;
    text-shadow: 0 0 2px aqua;
    cursor: pointer;
    transition: 0.24s ease-in-out;
}

.pomodora span {
    text-shadow: 0 0 2px aqua;
}

.todo {
    overflow-y: auto;
    margin-top: 10px;
    padding-bottom: 20px;
}

.Tasklist li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 1% 0 1%;
    box-shadow: 0 0 3px aqua;
    margin-top: 2%;
    border-radius: 3px;
}
.Tasklist li .bi {
    color: aqua;
    cursor: pointer;
}

.icon {
    display: flex;
    gap: 5px;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.todo::-webkit-scrollbar {
    width: 9px;
    background: linear-gradient(45deg, #073d44, aqua, rgba(0, 255, 255, 0.536));
    border-radius: 3px;
}

.todo::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(0, 255, 255, 0.377), aqua, #073d44);
    border-radius: 3px;
}

#myChart{
    width: 110px;
    height: 110px;
}

#time-progress-value{
    color: aqua;
}

#complete-progress-value {
    color: aqua;
}


#quality-progress-value {
    color: aqua;
}

@media (max-width: 1200px){
    form input:valid ~ span,
    form input:focus ~ span{
        font-size: 12px;
        transform: translateX(5px) translateY(-5.5px);
    }
    form input{
        font-size: 15px;
        margin-top: 10px;
        line-height: 25px;
    }
}


@media (max-width: 900px){
    body{
        display: flex;
        flex-direction: column;
    }
    main {
        margin: 10% 18%;
    }
    .side-bar{
        min-width: 230px;
        margin: 10% 33.33%;
    }
}

@media (max-width: 760px){
    form input:valid ~ span,
    form input:focus ~ span{
        font-size: 12px;
        transform: translateX(5px) translateY(-5.5px);
    }
    form input{
        font-size: 15px;
        margin-top: 10px;
        line-height: 25px;
    }
}